.signing-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    height: 100vh; 
  }
  
  .signing-section div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:13em ;
}
  
  .signing-section div:nth-child(1) {
    background: linear-gradient(
      rgba(176, 255, 169, 0.4),
      rgba(169, 255, 205, 0.3),
      rgba(211, 255, 169, 0.2)
    );
  }
  
  .signing-section div:nth-child(2) {
    background:linear-gradient(rgba(156, 214, 255, 0.4),rgba(156, 214, 255, 0.3),rgba(156, 214, 255, 0.2)) ;
  }
  .signing-section div:nth-child(2) .login-btn {
    background-color: rgb(0, 0, 0,.5) ;
    color: aliceblue;
    }
  .signing-section button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
 
 #signup-btn{
  color: black;

 }
 #signup-btn button{
  background-color: transparent;
  text-decoration: underline;
  }
  .signing-section .login-btn{
    background-color: aliceblue;
    font-family:cursive;
    box-shadow: 0px 1px 6px grey;
    margin: 1em;

  }
  .signing-section h1{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 50;
    font-size: 30px;
  }
  #specf{
    font-weight: 400;
    color: rgb(0, 149, 255);
  }
  #specc{
    font-weight: 400;
    color: rgb(0, 170, 25);  
  }
  .signing-section div p{
    color: gray;
    text-align: center;
    font-size: 20px;
    width: 60%;
    
    margin: 0;
    padding: 0;
  }
  .signing-section button:hover {
    opacity: 0.8;
  }
  
  .signing-section .signup-btn:hover{
    color: rgb(0, 0, 0,.5);
  }
  .signing-section .signup-btn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    text-decoration: underline;
  }
  
  @media only screen and (max-width:500px){

    .signing-section .login-btn{
      font-size: .6rem;
      padding: 5px 10px;
    }
    .signing-section{
      flex-direction: column;
    }  
    .signing-section div{
      width: 100%;       
    }
  .signing-section .signup-btn {
    font-size: .6rem;
    text-align: center;
  }
  .signing-section div p{
    font-size: .7rem;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #signup-btn{
    width: 100%;
    font-size: .6rem;
  }
  #dontacc{
    font-size: .6rem;
  }
  .signing-section h1{
    font-size: .8rem;
  }
  .signing-section div{
    padding-top: 4em;
  }
  }